{% extends 'awwward/base.html' %} {% block content %} {% load
crispy_forms_tags%}
<div class="row">
  <div class="col-sm-12 col-md-4 text-center">
    <div class="image_outer_container">
      <div class="rounded-circle">
        <img
          class="rounded-circle"
          style="width: 200px; height: 200px"
          src="{{user.profile.image.url|default:'img/default-avatar.png' }}"
        />
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-1 mt-4">
    <h3>Profile Details</h3>
    <p><strong> Username: </strong>{{user.username}}</p>
    <p><strong> Email: </strong>{{user.email}}</p>
    <p><strong> Phone Number: </strong>{{user.profile.phone_number}}</p>
  </div>
  <div class="col-md-4 col-sm-1 mt-4">
    <p><strong> Bio: </strong></p>
    <p>{{user.profile.bio}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 col-sm-12 float-md-none float-sm-left">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit Profile</legend>
        {{ u_form|crispy }} {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info mt-3" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row mt-3">
  <h3 class="text-center">Projects</h3>
  <hr />

  {% for project in projects %}
  <div class="col-md-4 mb-5">
    <div class="card border-0 shadow h-100">
      <img
        class="card-img-top"
        src="{{project.image.url}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">
          <small class="text-center text-uppercase text-muted"
            >{{ project.title }}</small
          >
          <br />
          <strong>{{project.creator}}</strong
          ><span class="float-end text muted"
            ><small>{{project.timestamp| date:"D d M Y"}}</small></span
          >
        </h5>
      </div>
      <div class="card-footer">
        <small class="text-uppercase m-3 pt-2">by {{project.creator}}</small>

        <a
          href="{% url 'awwward-detail' project.id %}"
          class="btn btn-outline-secondary btn-sm float-end m-2"
          >Details</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
